@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@font-face {
  font-family: waffle_story;
  src: url("./resources/Waffle\ Story.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(40, 23, 78);
}

main {
  width: 1100px;
  height: 700px;
  margin: 0 20px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgb(16, 16, 37);
}

div.left {
  width: max(40%, 300px);
  height: 100%;
  background-image: url("./resources/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo {
  position: relative;
  top: 20%;
  font-family: waffle_story, sans-serif;
  background: rgb(83, 83, 83, 0.3);
  font-size: 50px;
  gap: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > img {
  width: 50px;
}

#reference {
  font-family: sans-serif;
  font-size: 12px;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 10px;
}

a:link, a:visited  {color: rgb(197, 197, 197);}


/* Sign up Form Styling */
div.right {
  width: 60%;
  background:rgb(16, 16, 37);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container {
  /* padding-left: 30px; */
  margin: 0 auto;
  width: min(700px, 85%);
}

.signup-form > p,
.dummy-text {
  /* font-size: 20px; */
  font-weight: bold;
}

.submit-container {
  padding-bottom: 75px;
}

.signup-form > p {
  padding-top: 20px;
  padding-bottom: 10px;
}

.signup-form {
  gap: 10px;
  justify-content: center;
  background: #111;
  box-shadow: 0px 1px 10px rgb(77, 32, 77);
  height: 300px;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

form > div {
  height: 3em;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.msg {
  font-size: smaller;
  color:rgb(255, 0, 0)
}

input {
  color: black;
  width: 100%;
}

button {
  border: 1px solid;
  color: black;
  padding: 8px 18px;
  border-radius: 20px;
  margin-bottom: 10px;
}

button:hover {
  border: 1px solid white;
  background:rgb(16, 16, 37);
  color: white;
}

/* Validation */
input {
  padding: .5em;
}

input:focus {
  border: none;
  outline: none;
}

input:focus:invalid {
  border: 2px solid red;
}

input:focus:valid {
  border: 2px solid #0f0;
}
