@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@font-face {
  font-family: waffle_story;
  src: url("./resources/Waffle\ Story.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(40, 23, 78);
}

main {
  width: 1100px;
  height: 700px;
  margin: 0 20px;
  border: 1px solid black;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgb(16, 16, 37);
}

section.left {
  width: max(40%, 300px);
  height: 100%;
  background-image: url("./resources/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo {
  position: relative;
  top: 20%;
  font-family: waffle_story, sans-serif;
  background: rgb(83, 83, 83, 0.3);
  font-size: 50px;
  gap: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > img {
  width: 50px;
}

#reference {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 10px;
}

a:link, a:visited  {color: rgb(197, 197, 197);}


/* Sign up Form Styling */
section.right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: #222;
  width: 60%;
}

.right header, 
.signup-form,
#create-acc {
  padding-left: 35px;
}

.right header {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 20px;
  padding-top: 20px;
}

.signup-form {
  width: 100;
  background: #111;
  box-shadow: 0px 1px 10px rgb(0, 0, 0);
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none; 
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
}

fieldset > div {
  display: flex;
  flex-direction: column;
}

input {
  width: 90%;
  color: black;
}

button {
  background: #111;
  padding: 8px 24px;
}